{% extends "booking/site_page.html" %}
{% block title %}
    <title>Mama Jo's - Contact Us</title>
{% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/contacts">Contact Us</a>
    </li>
{% endblock %}
{% block content %}
    <div class="my-auto mx-auto p-2 bg-lion" style="width: fit-content;">
        <h3 class="text-center">Contact Us!</h3>
        <div class="col-md-9 mx-auto bg-cream">
            <p class="d-block p-2">Email: mamajospizza@email.org</p>
            <p class="d-block p-2">Telephone: 01234 567890</p>
            <p class="d-block p-2">Address: 01 Pizza Store Rd, Wells, Somerset, AB1 2CD</p>
        </div>
    </div>
{% endblock %}